body { 
    margin: 0; 
    overflow: hidden;
    display: flex;

    align-items: center;
    justify-content: center;
}
#filecontainer input{
    margin-top: 500px;
    width: 200px;
    height: 150px;
    background-color: lightgray;
    border-radius: 25px;
    padding: 2
}